* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --marrom-escuro: #4B2E2B; 
    --caramelo:#A84A32;
    --creme: #F5EFE6;
    --bege: #E8DCC8;
    --verde: #7D8F69;
    --branco: #f5f5f5; 
    --dourado: #D6A536;
    --bege-acizentado: #A69B8D;
    --fonte-principal: "Playfair Display", serif;
    --fonte-texto: "Poppins", sans-serif;
}

a{ 
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

main {
    /* padding-top: 95px;
    background-color: var(--bege); */
}
.cabecalho {
    width: 95%;
    height: 55px;
    background-color: var(--marrom-escuro);
    border-radius: 65px;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1000;
}

.logo-header {
    width: 20%;
    height: 55px;
    /* border: rgb(1, 48, 48) solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-header h1 {
    font-family: var(--fonte-principal);
    font-size: 24px ;
    color: var(--caramelo);
    transition: transform 0.3s ease;
    display: inline-block;
}

.logo-header h1:hover{
    transform: translateY(-4px);
    transform: scale(0.97); }

.menu-meio {
    width: 35%;
    height: 55px;
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;

}

.menu {
    display: flex;
    align-items: center;
    gap: 35px;  
}

.menu-meio a {
    font-family: var(--fonte-texto);
    color: var(--branco);
    font-size: 16px;
    transition: transform 0.3s ease;
    display: inline-block;
}

a:hover {
    transform: translateY(-4px);
    transform: scale(0.97);
    color: var(--caramelo);

}


.menu-direito {
    width: 30%;
    height: 55px;
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    /* margin-left: 150px; */
}

.menu-direito h2{
    cursor: pointer;
}

.destaque {
    width: 100%;
    height: 100vh;
    background-color: var(--bege);
    overflow: hidden;
    position: relative;
}

.destaque-img {
    position: absolute; 
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background-image: url(../assets/cafe-destaque.png);
    background-size: cover;
    background-position: center;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.texto-destaque{
    margin-top: 100px;
    width: 45%;
    height: auto;
    /* border: aqua solid 1px; */
    padding-left: 35px;


} 

.texto-destaque h1 {
    font-family: var(--fonte-principal);
    color: var(--marrom-escuro);
    font-size: 60px;
}

.texto-destaque p{
    font-family: var(--fonte-texto);
    color: var(--marrom-escuro);
    font-size: 20px;
}

.caramelo {
    color: var(--caramelo);
}

.bt-menu {
    width: 10%;
    height: 40px;
    /* border: aqua solid 1px; */
    margin-left: 35px;
    margin-top: 35px;
    background-color: var(--verde);
    font-family: var(--fonte-texto);
    color: #4B2E2B;
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    transition: transform 0.3s ease;
}

.bt-pedido {
    width: 10%;
    height: 40px;
    /* border: aqua solid 1px; */
    margin-left: 35px;
    margin-top: 35px;
    background-color: var(--marrom-escuro);
    font-family: var(--fonte-texto);
    color: var(--branco);
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    transition: transform 0.3s ease;
}

button:hover {
    transform: translateY(-4px);
    transform: scale(0.97);
}

#cardapio {
    width: 100%;
    min-height: 100vh;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    padding-top: 100px;


}

.texto-cardapio {
    width: 25%;
    height: 65px;
    /* border: 1px aqua solid; */
    text-align: center;
    font-family: var(--fonte-texto);
}

.texto-cardapio h1 {
    font-family: var(--fonte-principal);
    color: var(--marrom-escuro);
}

.tabs input[type="radio"] {
    display: none;
}

.content {
    display: none;

}

#todos:checked ~ #content-todos,
#cafe:checked ~ #content-cafe,
#bebidas:checked ~ #content-bebidas,
#doces:checked ~ #content-doces,
#salgados:checked ~ #content-salgados {
  display: block;
}
.bt-labels {
    display: flex;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  color: #333;
  font-family: var(--fonte-texto);
}

.bt-labels label {
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  color: #333;
  font-family: var(--fonte-texto);


}

#todos:checked ~ .labels label[for="todos"],
#cafes:checked ~ .labels label[for="cafes"],
#bebidas:checked ~ .labels label[for="bebidas"],
#doces:checked ~ .labels label[for="doces"],
#salgados:checked ~ .labels label[for="salgados"] {
  background-color: #3d2b1f;
  color: white; 
}

.card-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 0 auto; 

}

.cards {
    width: 29%;
    height: 20rem;
    /* border: 1px solid black; */
    border-radius: 20px;
    overflow: hidden;



}

.cards figure {
    width: 100%;
    height: 190px;
    /* border: 1px solid black; */
    border-radius: 20px;


}

.cards figure img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.cards h3 {
    font-family: var(--fonte-texto);
    color: var(--caramelo);
    font-size: 20px;
    padding-left: 5px;
    padding-top: 20px;
}

.cards h4 {
    font-family: var(--fonte-texto);
    color: var(--verde);
    font-size: 18px;
    padding-left: 5px;
}

.bt-cards {
    width: 10%;
    height: 35px;
    border: solid 1px var(--marrom-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--branco);
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;

}

.bt-cards :hover{
    transform: translateY(-4px);
    transform: scale(0.97);
}
.bt-cards button {
    text-decoration: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: var(--branco);


}

#sobre {
    width: 100%;
    height: 100vh;
    background-color: red;
}

#contato {
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
}




footer {
    width: 100%;
    height: 80vh;


}

.logo-f {
    width: 40%;
    height: 70%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;


}
.logo-f figure {
    width: 40%;
    height: 150px;
}

.logo-f figure img {
    width: 100%;
    height: 100%;
}

.logo-f h2 {
    font-family: var(--fonte-texto);
    color: var(--verde);
}