* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /* CORES PRINCIPAIS */
    --verde-brasil: #009C3B;
    --verde-escuro: #006B2D;
    --amarelo-brasil: #FFDF00;
    --azul-brasil: #002776;

    /* CORES DE DESTAQUE */
    --laranja: #E85D04;

    /* FUNDOS */
    --creme: #FFF3D6;
    --verde-claro: #DDECC7;

    /* TEXTOS */
    --marrom-escuro: #3B2416;
    --branco: #FFFFFF;

    /* FONTES */
    --fonte-principal: "Playfair Display", serif;
    --fonte-texto: "Poppins", sans-serif;

}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--verde-escuro);
}

main {
    /* padding-top: 95px;
    background-color: var(--bege); */
}

.cabecalho {
    width: 95%;
    height: 55px;
    background-color: #015323;
    border-radius: 65px;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1000;
}

.logo-header {
    width: 20%;
    height: 55px;
    /* border: rgb(1, 48, 48) solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-header h1 {
    font-family: var(--fonte-principal);
    font-size: 24px;
    color: whitesmoke;
}

.menu-meio {
    width: 35%;
    height: 55px;
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;

}

.menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu-meio a {
    font-family: var(--fonte-texto);
    color: var(--branco);
    font-size: 16px;
    transition: transform 0.3s ease;
    display: inline-block;
}

a:hover {
    transform: translateY(-4px);
    transform: scale(0.97);
    color: var(--laranja);

}


.menu-direito {
    width: 30%;
    height: 55px;
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    /* margin-left: 150px; */
}

.menu-direito h2 {
    cursor: pointer;
}

.destaque {
    width: 100%;
    height: 100vh;
    background-color: #FFF3D6;
    overflow: hidden;
    position: relative;
}

.destaque-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background-image: url(../assets/fundo_destaque.png);
    background-size: cover;
    background-position: center;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.texto-destaque {
    margin-top: 100px;
    width: 45%;
    height: auto;
    /* border: aqua solid 1px; */
    padding-left: 35px;


}

.texto-destaque h1 {
    font-family: var(--fonte-principal);
    color: var(--marrom-escuro);
    font-size: 50px;
}

.texto-destaque p {
    font-family: var(--fonte-texto);
    color: var(--marrom-escuro);
    font-size: 20px;
}

.verde {
    color: #009C3B;
}

.bt-menu {
    width: 10%;
    height: 40px;
    /* border: aqua solid 1px; */
    margin-left: 35px;
    margin-top: 35px;
    background-color: var(--verde-escuro);
    font-family: var(--fonte-texto);
    color: whitesmoke;
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    transition: transform 0.3s ease;
}

.bt-pedido {
    width: 10%;
    height: 40px;
    /* border: aqua solid 1px; */
    margin-left: 35px;
    margin-top: 35px;
    background-color: #E85D04;
    color: #FFFFFF;
    font-family: var(--fonte-texto);
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    transition: transform 0.3s ease;
}

button:hover {
    transform: translateY(-4px);
    transform: scale(0.97);
}

#cardapio {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-image: url(../assets/fundo_menu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 2px solid var(--verde-brasil);




}

.texto-cardapio {
    width: 80%;
    height: 150px;
    /* border: 1px solid aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;

}

.texto-cardapio h1 {
    font-size: 50px;
    color: var(--verde-escuro);
    font-family: var(--fonte-principal);
}

.texto-cardapio p {
    font-family: var(--fonte-texto);
    font-size: 20px;

}

.f {
    color: var(--azul-brasil);
    font-weight: 900;
    font-family: var(--fonte-texto);

}

.a {
    color: var(--verde-brasil);
    font-weight: 900;
    font-family: var(--fonte-texto);

}

.v {
    color: rgb(180, 180, 12);
    font-weight: 900;
    font-family: var(--fonte-texto);
}

.o {
    color: rgb(160, 0, 0);
    font-weight: 900;
    font-family: var(--fonte-texto);
}

.r {
    color: rgb(72, 1, 94);
    font-weight: 900;
    font-family: var(--fonte-texto);
}

.i {
    color: rgb(224, 3, 40);
    font-weight: 900;
    font-family: var(--fonte-texto);
}

.t {
    color: rgb(0, 69, 78);
    font-weight: 900;
    font-family: var(--fonte-texto);
}

.s {
    color: rgb(116, 0, 90);
    font-weight: 900;
    font-family: var(--fonte-texto);
}


.card-container {
    width: 100%;
    /* min-height: 100vh; */
    /* height: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;

}


/* NORTE */
.card-norte {
    background: linear-gradient(180deg, #4a7c3c 0%, #3a6630 100%);
    width: 17%;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.card-norte:hover {

    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.50);
}


.texto-norte {
    width: 100%;
    height: 100px;
    background-color: var(--branco);
    text-align: center;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.texto-norte h1 {
    font-size: 25px;
    font-weight: 700;
    color: var(--verde-escuro);
    padding-top: 5px;
}

.texto-norte p {
    font-size: 12px;
    font-family: var(--fonte-texto);

}

.card-norte figure {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-norte figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bt-norte {
    width: 90%;
    height: 45px;
    border: solid 1px var(--marrom-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--branco);
    margin: 0 auto 15px auto;
    padding: 0 18px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 700;
    color: var(--marrom-escuro);
    box-sizing: border-box;
    border: none;
}

.bt-norte .seta {
    font-size: 20px;
}

.bt-norte:hover {
    transform: scale(0.97);
}

/* NORDESTE */
.card-nordeste {
    background: linear-gradient(180deg, #FFB627 0%, #E8940C 100%);
    width: 17%;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-nordeste:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.50);
}

.texto-nordeste {
    width: 100%;
    height: 100px;
    background-color: var(--branco);
    text-align: center;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.texto-nordeste h1 {
    font-size: 25px;
    font-weight: 700;
    color: #E8940C;
    padding-top: 5px;
}

.texto-nordeste p {
    font-size: 12px;
    font-family: var(--fonte-texto);
}

.card-nordeste figure {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-nordeste figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bt-nordeste {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--branco);
    margin: 0 auto 15px auto;
    padding: 0 18px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 700;
    color: var(--marrom-escuro);
    box-sizing: border-box;
    border: none;
}

.bt-nordeste .seta {
    font-size: 20px;
}

.bt-nordeste:hover {
    transform: scale(0.97);
}


/* CENTRO-OESTE  */
.card-centro-oeste {
    background: linear-gradient(180deg, #9e2503 0%, #a81f04 100%);
    width: 17%;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.card-centro-oeste:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.50);
}

.texto-centro-oeste {
    width: 100%;
    height: 100px;
    background-color: var(--branco);
    text-align: center;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.texto-centro-oeste h1 {
    font-size: 22px;
    font-weight: 700;
    color: #C1503A;
    padding-top: 5px;
}

.texto-centro-oeste p {
    font-size: 12px;
    font-family: var(--fonte-texto);
}

.card-centro-oeste figure {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-centro-oeste figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bt-centro-oeste {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--branco);
    margin: 0 auto 15px auto;
    padding: 0 18px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 700;
    color: var(--marrom-escuro);
    box-sizing: border-box;
    border: none;
}

.bt-centro-oeste .seta {
    font-size: 20px;
}

.bt-centro-oeste:hover {
    transform: scale(0.97);
}


/* SUDESTE */
.card-sudeste {
    background: linear-gradient(180deg, #033353 0%, #062d81 100%);
    width: 17%;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.card-sudeste:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.50);
}

.texto-sudeste {
    width: 100%;
    height: 100px;
    background-color: var(--branco);
    text-align: center;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.texto-sudeste h1 {
    font-size: 25px;
    font-weight: 700;
    color: #2E86C1;
    padding-top: 5px;
}

.texto-sudeste p {
    font-size: 12px;
    font-family: var(--fonte-texto);
}

.card-sudeste figure {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-sudeste figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bt-sudeste {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--branco);
    margin: 0 auto 15px auto;
    padding: 0 18px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 700;
    color: var(--marrom-escuro);
    box-sizing: border-box;
    border: none;
}

.bt-sudeste .seta {
    font-size: 20px;
}

.bt-sudeste:hover {
    transform: scale(0.97);
}


/* SUL */
.card-sul {
    background: linear-gradient(180deg, #026359 0%, #036346 100%);
    width: 17%;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 60%;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-sul:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.50);
}

.texto-sul {
    width: 100%;
    height: 100px;
    background-color: var(--branco);
    text-align: center;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.texto-sul h1 {
    font-size: 25px;
    font-weight: 700;
    color: #2A9D8F;
    padding-top: 5px;
}

.texto-sul p {
    font-size: 12px;
    font-family: var(--fonte-texto);
}

.card-sul figure {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-sul figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bt-sul {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--branco);
    margin: 0 auto 15px auto;
    padding: 0 18px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 700;
    color: var(--marrom-escuro);
    box-sizing: border-box;
    border: none;
}

.bt-sul .seta {
    font-size: 20px;
}

.bt-sul:hover {
    transform: scale(0.97);
}


.cards h3 {
    font-family: var(--fonte-texto);
    color: var(--caramelo);
    font-size: 20px;
    padding-left: 5px;
    padding-top: 20px;
}

.cards h4 {
    font-family: var(--fonte-texto);
    color: var(--verde);
    font-size: 18px;
    padding-left: 5px;
}



#sobre {
    width: 100%;
    height: 100vh;
    background-color: red;
}

#contato {
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
}




footer {
    width: 100%;
    height: 80vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;



}

.logo-f {
    width: 40%;
    height: 70%;
    border-right: 1px solid var(--dourado);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;


}

.logo-f figure {
    width: 40%;
    height: 150px;
}

.logo-f figure img {
    width: 100%;
    height: 100%;
}

.logo-f h2 {
    font-family: var(--fonte-texto);
    color: var(--dourado);
}

.texto-f {
    width: 33%;
    height: 70%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.texto-f h2 {
    font-family: var(--fonte-principal);
    color: var(--dourado);
    font-size: 25px;
}

.texto-f ul {
    list-style: none;
    font-family: var(--fonte-texto);
    color: whitesmoke;
}

.texto-f2 {
    width: 33%;
    height: 70%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid var(--dourado);
}

.texto-f2 h2 {
    font-family: var(--fonte-principal);
    color: var(--dourado);
    font-size: 25px;
}

.texto-f2 ul {
    list-style: none;
    font-family: var(--fonte-texto);
    color: whitesmoke;
}